.bigphoto {
  height: 300px;
  width: 900px;
  border-radius: 100px;
}
.descriptionBlock {
  padding: 10px;
  display: flex;
}
.describe {
  display: flex;
  justify-content: space-between;
}
.description {
  margin-left: 10px;
}
.name {
  margin: 0 0 4px 10px;
  color: blue;
}
.aboutMe {
  color: yellow;
}
.contacts {
  display: flex;
  justify-content: flex-end;
}