.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  'h h'
  'n c';
  grid-gap: 10px;
}
.header {
  grid-area: h;
  background-color: rgb(130, 243, 243);
  border-radius: 40px;
  box-shadow: 0 0 5px 1px;
  margin-top: 10px;
}
.header img {
  width: 70px;
  position: relative;
  top: -12px;
  left: -7px;
  border-radius: 50%;

}
.nav {
  grid-area: n;
  background-color: rgb(129, 129, 129);
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.nav div {
  margin-top: 20px;
}
.nav div a{
  padding: 5px;
  background-color: rgb(130, 243, 243);
  width: 90px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgb(165, 164, 164);
}


.content {
grid-area: c;
background-color: rgb(255, 255, 255);
}
.content img {
  height: 300px;
  width: 900px;
}